<%- include("partials/header.ejs") %>
    <div class="view-blog">
        <h2>
            <%= blog.title %>
        </h2>
        <p style="color:grey"> <%= blog.time %></p>      
        <p>
            <%= blog.blogWriter %>
        </p>
        <img src=<%= blog.image %> height="200px" width="300px">
        <p>
            <%= blog.description %>
        </p>
    </div>
    <%- include("partials/footer.ejs") %>